/*https://www.cufonfonts.com/font/samsung-sharp-sans-regular */

@font-face {
  font-family: "SamsungSharpSansBd";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungSharpSansBd"),
    url("SamsungSharpSansBd.woff2") format("woff");
}
