/* CSS files add styling rules to your content */

body {
  background: black;
  font-family: "Average Sans";
  color: white;
}

img{
  width: 117.9mm;
  height: 160.9mm;
  opacity: .3;
}

#wrap {
  font-size: 18.3rem;
}

#wrap span {
  position: fixed;
  font-weight: bold;
}

#f {
  top: 19.5rem;
  left: 2.3rem;
}
#o {
  top: -9rem;
  left: 6rem;
  transform: rotate(90deg);
}
#l {
  top: 2rem;
  left: 5rem;
}
#d {
}
