/* CSS files add styling rules to your content */

body {
  background: black;
  font-family: "SamsungSharpSansBd";
  color: white;
  position: fixed;
  overflow: hidden;
  display: flex;
}

img {
  width: 117.9mm;
  height: 160.9mm;
  opacity: 0; /* debug */
}

#wrap p {
  font-size: 2rem;
  color: cyan;
  top: -8rem;
  width: 100vw;
  position: fixed;
}

#wrap {
  font-size: 17rem;
  width: 117.9mm;
  height: 160.9mm;
  border: dashed 2px red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(50%, -25%);
  cursor: pointer;
}

#wrap span {
  position: absolute;
  font-weight: bold;
}

#f {
  top: 21rem;
  left: 3rem;
}
#o {
  top: -8.5rem;
  left: 3rem;
  transform: rotate(90deg);
}
#l {
  top: 2.5rem;
  left: 14rem;
  /* mirror and rotate */
  transform: scaleX(-1) rotate(-90deg);
}
#d {
  top: 19rem;
  left: 17rem;
  transform: rotate(-90deg);
}
