/* CSS files add styling rules to your content */

body {
  background: black;
  font-family: "SamsungSharpSans-Bold";
  color: white;
  position: fixed;
  overflow: hidden;
}

img {
  width: 117.9mm;
  height: 160.9mm;
  opacity: 0.25;
}

#wrap {
  font-size: 18.3rem;
}

#wrap span {
  position: fixed;
  font-weight: bold;
}

#f {
  top: 19.5rem;
  left: 2.3rem;
}
#o {
  top: -9rem;
  left: 6rem;
  transform: rotate(90deg);
}
#l {
  top: 2rem;
  left: 15rem;
  /* mirror and rotate */
  transform: scaleX(-1) rotate(-90deg);
}
#d {
  top: 18rem;
  left: 16rem;
  transform: rotate(-90deg);
}
