/* CSS files add styling rules to your content */

body {
  background: black;
  font-family: "SamsungSharpSansBd";
  color: white;
  position: fixed;
  overflow: hidden;
  display: flex;
}

img {
  width: 117.9mm;
  height: 160.9mm;
  opacity: 0.1; /* debug */
  filter: drop-shadow(2px 4px 6px black);
}

p {
  font-size: 1.5rem;
  color: cyan;
  top: 1rem;
  left: 5vw;
  width: 95vw;
  margin: 0;
  position: fixed;
}

red {
  color: red;
}
down {
  filter: grayscale(1) brightness(2);
}

#wrap,
img {
  position: fixed;
  left: 5%;
  top: 12%;
}

#wrap {
  overflow: hidden;

  font-size: 17rem;
  width: 117.9mm;
  height: 160.9mm;
  border: dashed 2px red;
  cursor: pointer;
}

#wrap:hover {
  background: rgba(255, 255, 255, 0.1);
  color: yellow;
}
#wrap:active {
  background: rgba(0, 255, 255, 0.1);
  color: cyan;
  transform: translate(0.1rem, 0.1rem);
}

#wrap span {
  position: absolute;
  font-weight: bold;
}

#f {
  top: 20.3rem;
  left: 2.75rem;
}
#o {
  top: -9rem;
  left: 2.6rem;
  transform: rotate(90deg);
}
#l {
  top: 2.2rem;
  left: 13rem;
  /* mirror and rotate */
  transform: scaleX(-1) rotate(-90deg);
}
#d {
  top: 18rem;
  left: 16.5rem;
  transform: rotate(-90deg) rotateY(28deg);
}
